<%= "#{l(:label_faq)}##{faq.id}: #{faq.question}" %>
<%= faq_url %>

<%=l(:field_author)%>: <%= faq.author %>
<%=l(:field_difficulty)%>: <%= faq.difficulty %>
<%=l(:field_assigned_to)%>: <%= faq.assigned_to %>
<%=l(:field_category)%>: <%= faq.category %>

<%=l(:field_answer)%>
<%= faq.answer %>
