<%= l(:text_faq_updated, :title => "##{@faq.id}", :author => @faq.updater) %>

----------------------------------------
<%= render :partial => "faq_text_plain", :locals => { :faq => @faq, :faq_url => @faq_url } %>
