div.faq {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}

.icon-question { background-image: url(../images/question.png); }
.icon-green-right { background-image: url(../images/green_right.png); }

.attention {color: #ff0000;font-weight:bold;}